@*@model IEnumerable<CodeFactoryAPI.Models.User>

<title>Users</title>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
@using (Html.BeginForm(FormMethod.Get))
{
    <label>Search By :-</label>
    @Html.DropDownList("SearchBy", new SelectListItem[] { new("UserName", "Name", true), new("Email", "Email") })
    @Html.TextBox("UserName")
    <input value="Search" type="submit" asp-action="Index" class="btn btn-success" />
}
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    <img src="@GetImage(item.Image, directory:"Users")" height="25" width="25" alt="" />
                </td>
                <td>
                    @Link("Edit", ControllerName.Users, ActionName.Edit, item.User_ID) |
                    @Link("Details", ControllerName.Users, ActionName.Details, item.User_ID) |
                    @Link("Delete", ControllerName.Users, ActionName.Delete, item.User_ID)
                </td>
            </tr>
        }
    </tbody>
</table>*@
