@model CodeFactoryAPI.Models.Question

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Question_ID" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">User</label>
                <select asp-for="User_ID" class="form-control" asp-items="ViewBag.User_ID" required></select>
                <span asp-validation-for="User_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tags</label>
                @Html.DropDownListFor(x => x.Tag1_ID, ViewBag.Tag_ID as SelectList, "Select Tag", new { @class = "form-control" })
                <span asp-validation-for="Tag1_ID" class="text-danger"></span>
                <br />
                @Html.DropDownListFor(x => x.Tag2_ID, ViewBag.Tag_ID as SelectList, "Select Tag", new { @class = "form-control" })
                <span asp-validation-for="Tag2_ID" class="text-danger"></span>
                <br />
                @Html.DropDownListFor(x => x.Tag3_ID, ViewBag.Tag_ID as SelectList, "Select Tag", new { @class = "form-control" })
                <span asp-validation-for="Tag3_ID" class="text-danger"></span>
                <br />
                @Html.DropDownListFor(x => x.Tag4_ID, ViewBag.Tag_ID as SelectList, "Select Tag", new { @class = "form-control" })
                <span asp-validation-for="Tag4_ID" class="text-danger"></span>
                <br />
                @Html.DropDownListFor(x => x.Tag5_ID, ViewBag.Tag_ID as SelectList, "Select Tag", new { @class = "form-control" })
                <span asp-validation-for="Tag5_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Images</label>
                <input type="file" class="custom-file" name="files" multiple />
                <span asp-validation-for="Image1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
