@model IEnumerable<CodeFactoryAPI.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AskedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AskedDate)
                </td>
                <td>
                    @Link($"{item.User.Email}", ControllerName.Users, ActionName.Details, item.User_ID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Question_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Question_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Question_ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
