@model CodeFactoryAPI.Models.Reply

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reply_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reply_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepliedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepliedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question_ID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
