@model CodeFactoryAPI.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Messages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Messages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Messeger)
        </dt>
        <dd class="col-sm-10">
            @Link($"{Model.Messeger?.Email}", ControllerName.Users, ActionName.Details, Model.Messeger_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd class="col-sm-10">
            @Link($"{Model.Receiver?.Email}", ControllerName.Users, ActionName.Details, Model.Messeger_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class="col-sm-10">
            @Link("Go to Question", ControllerName.Questions, ActionName.Details, Model.Question_ID)
        </dd>
    </dl>
</div>
<div>
    @Link("Edit", ControllerName.Messages, ActionName.Edit, Model.Message_ID) |
    <a asp-action="Index">Back to List</a>
</div>
