@model IEnumerable<CodeFactoryAPI.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messeger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Messages)
                </td>
                <td>
                    @Link($"{item.Messeger?.Email}", ControllerName.Users, ActionName.Details, item.Messeger_ID)
                </td>
                <td>
                    @Link($"{item.Receiver?.Email}", ControllerName.Users, ActionName.Details, item.Receiver_ID)
                </td>
                <td>
                    @Link("Go to Question", ControllerName.Questions, ActionName.Details, item.Question_ID)
                </td>
                <td>
                    @Link("Edit", ControllerName.Messages, ActionName.Edit, item.Message_ID) |
                    @Link("Details", ControllerName.Messages, ActionName.Details, item.Message_ID) |
                    @Link("Delete", ControllerName.Messages, ActionName.Delete, item.Message_ID)
                </td>
            </tr>
        }
    </tbody>
</table>
